* {
  box-sizing: border-box;
}

html {
	/*background-image: url(../images/bg/bg-x.png);*/
	/*background-size: cover;*/
	/*min-height: 100%;*/
	/*background-color: rgba(183,42,118,.99);*/
	background: #032745;
}

body {
	margin: 0px;
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 80px;
}

a {
	color: #ffffff;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#header {
	/*max-width: 980px;*/
	padding: 20px;
	/*border-bottom: 1px solid #ffffff;*/
	margin-left: auto;
	margin-right: auto;
	/*background: linear-gradient(#ffffff, #e1e1e1);*/
	/*background-color: rgba(255,255,255,0.75);*/
	background: linear-gradient(#032f53, #032745);
	/*box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);*/
	
	clear: both;
	margin-bottom: 0px;
}

#header-inner {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 165px;
	clear: both;
	border-top: 1px solid #136995;
	border-bottom: 1px solid #136995;
	box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);

}
#logo {
	float: left;
	border-right: 1px solid #136995;
	height: 160px;
	padding-top: 10px;
	padding-right: 30px;

}
#searchForm {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;	

}

#instructions {
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-align: center;	
}

#instructions h1 {
	color: #20a28e;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-align: center;	
}



#container {
	/*max-width: 980px;*/
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
	clear: both;
}

#buttons {
	width: 100%;
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-top: 10px;
	background: linear-gradient(#032f53, #032745);
	/*background: linear-gradient(#20a28e, #032745 70%);*/



}

#buttons-inner {
	padding: 20px;
	background: #032745;
	text-align: center;

}

#search-elements {
	vertical-align: top;
}

#main-content {
	width: 100%;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-top: 10px;

}

#main-content-inner { 
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
}

.term-GIF {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#gifBoard {
	text-align: center;
}

#footer {
	width: 100%;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	/*background: #20a28e;*/
	background: #032745;


}
#footer-inner {
	/*max-width: 960px;*/
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Oxygen', Arial, sans-serif;
	color: #136995;
	font-size: 12px;

	background: #032745;

}

#footer-inside {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	background: linear-gradient(#032745, #032f53);
	/*background: linear-gradient(#032745, #20a28e 80%);*/

}

#footer a {
	color: #FFFFFF;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#footer a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;

}

.term-image-click {
	
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.dark {
	border: 1px solid #136995;
	opacity: .7;
}

.bright {
	border: 1px solid #FFFFFF;
	opacity: 1.0;
}

input.search-box {
	border: none;
	outline-style: none;
	height: 23px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 20px;
	vertical-align: middle;

}

button.add-button {
	background: #20a28e;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	border: none;
	outline-style: none;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	height: 23px;
	vertical-align: middle;
}

button.add-button:hover {
	background: #0993d9;
	color: #FFFFFF;

}

button.add-button:active {
	background: #0d2545;
	color: #FFFFFF;

}

button.term {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	outline-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: rgba(61,95,123,0.15);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
	border: 1px solid #136995;

}

button.term:hover {
	background-color: rgba(115,201,204,0.75);
	border: 1px solid #FFFFFF;


}

button.term:active {
	background-color: rgba(6,26,43,0.75);
	border: 1px solid #136995;
}

button.active {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	outline-style: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: rgba(22,184,155,0.75);
	border: 1px solid #FFFFFF;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

}
.white {
	color: #ffffff;
}

.small {
	font-size: 5px;
}

.emphasis {
	color: #20a28e;

}



@media screen and (max-width: 768px) {
	#searchForm {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
	font-family: 'Oxygen', Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;	

}
}


}

	